h2 {
    color: white;
    padding-top: 75px;
    padding-left: 20px;
    font-size: 75px;
}

.graph {
    margin-top: 25px;
    margin-right: 100px;
    float: right;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    height: 400px;
    padding: 10px;
}