h1 {
    color: black;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  white;
    padding: 15px 7%;
}

.navbar.dark {
    background-color: #222;
    color: white;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

.out-link{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #222;
}

.dark .link {
    color: white;
}